{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ atitle }}
{% endblock %}

{% block body %}
    <h1>Edit: {{ atitle }}</h1>

    <form action="{% url 'wiki:save_edit' atitle %}" method="POST" id="pageform">

        {% csrf_token %}

        <label for="content">Enter Description:</label>

        <div style="text-align: center">
            <input type="submit" value="Save changes">
        </div>

        <br>

    </form>

        <textarea id="content" name="content" rows="4" cols="50" form="pageform">{{ content }}</textarea>
{% endblock %}
